# Ignorando os arquivos abaixo
#NPM packages folder
node_modules
#GIT
.git
#lock files
yarn.lock
package-lock.json
#logs
logs
*.log
npm-debug.log*
#npm cache diretory
.npm
#REPL history
.node_repl_history