@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto:wght@500&display=swap');
body{
  /*background-color: #131313;*/
}
h1{
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
}
.media-picture{
  width: 100%;
  left: 400px;
  background-image: url('/front-end/aula08/LogoTIGarage.png')center center;
  opacity: .2;  /* menor mais claro fica.*/
        width: 100%;
        height: 100%;
}

.review-score{}